# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.*.local

# OS files
.DS_Store

# Debug
.vscode/
*.swp

# Build output
dist/
build/
